@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.62em;
    font-size: 16px;
}

.ff-dm-mono {
    font-family: 'DM Mono', monospace;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {

    list-style-type: none;

}

.tab {
    cursor: pointer;
}

.tab.active {
    border-radius: 100px;
    background: #1155D4;
    color: #fff;
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}


/* Accordion CSS */


button.accordion:after {
    content: "";
    position: absolute;
    right: 15px;
    top: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background: url('../img/plus-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

button.accordion.is-open:after {
    content: "";
    position: absolute;
    right: 15px;
    top: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background: url('../img/minus-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

/* button.accordion:hover,
button.accordion.is-open {
    background-color: #F5F8FF;
} */

.accordion-content {
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
}

/* Animation  */


.animation-span1 {
    overflow: hidden;
    animation: reveal 1.0s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}

.animation-span2 {
    overflow: hidden;
    animation: reveal 1.0s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
}

@keyframes reveal {
    0% {
    transform: translate(0,100%);
    }
    100% {
    transform: translate(0,0);
    }
}
